body{
    font-family: 'Lora', serif;
    background-color: #F2BFB3;
    background-repeat: no-repeat;
}

header {
    background-color: #f9cbaa;
    height: 80px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 4px 3px gray;
}

.card-precificacao {
    border: 3px solid #733D47;
    border-radius: 20px;
    background-color: #F3C4A4;
    height: 60%;
    width: 90%;
    margin: 10px auto 10px auto;
    padding: 10px;
    box-shadow: 8px 8px 5px gray;
}

table, th, td{
    border: 3px solid #733D47;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    padding: 3px;
}

table th td {
    text-align: left;
}

#idColunaNomeIngrediente {
    width: 44%;
    text-align: left;
}

.colunaCustoIngrediente {
    background-color: #912539;
    color: white;
}

.input-nome-ingrediente {
    width: 95%;
    font-size: 18px;
    font-weight: bolder;
    background-color: #F3C4A4;
}

.input-numerico {
    background-color: #F3C4A4;
    width: 58px;
    text-align: right;
}

.input-texto {
    background-color: #F3C4A4;
    width: 58px;
    text-align:left;
}

.input-select {
    background-color: #F3C4A4;
    text-align: left;
}

.input-button {
    background-color: #733D47;
    color: #F2C3A7;
    border-radius: 10%;
}

.input-button:hover {
    cursor: pointer;
    background-color: #F2BFB3;
    color: #733D47;
}

.input-button:active {
    background-color: #733D47;
    color: #F2BFB3;
}

.input-button-oculto {
    display:none;
}

#colunaValorTotal {
    text-align: right;
    font-size: 22px;
}

#colunaValorTotal {
    color:white;
    background-color: #912539;
    font-weight: bold;
    padding-top: 10px;
}

footer {
    font-size: 10px;
    text-align: center;
    background-color: #733D47;
    height: 61px;
    margin-top: 17px;
    color:#F2BFB3;
}